<div class="container">
    <form #makeArticle="ngForm" (ngSubmit)="saveArticle(makeArticle.value, makeArticle)">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block p-3">
                        <label>Title:</label>
                        <p class="card-title">{{article.title}}</p>
                        <label>Abstract:</label>
                        <p class="card-title">{{article.abstract_}}</p>
                        <label>Key words:</label>
                        <p class="card-title">{{article.keyWords}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
      <div class="form-group" *ngFor="let field of formFields">
        <div class="col form-group">
  
          <label for={{field.id}}>{{field.label}}</label>
          <p *ngIf="field.type.name=='string' && field.id=='comment'">{{field.value.value}}</p>
          <input class="form-control" type="checkbox" id='isReviewer' name={{field.id}} ngModel
            *ngIf="field.type.name=='boolean'">
          <input class="form-control" type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
          <input class="form-control" type="file" name={{field.id}} (change)="onSelectPdf($event)" ngModel
            *ngIf="field.id=='pdf' && field.type.name=='string'">
          <select name="field.id" *ngIf="field.type.name=='enum'">
            <option *ngFor="let val of enumValues" value={{val}}>
              {{field.type.values[val]}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary btn-block">
      </div>
    </form>
  </div>