<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <a [routerLink]="['/login']" class="float-right btn btn-outline-primary mt-1">Log in</a>
                <h4 class="card-title mt-2">Sign up</h4>
            </header>
            <article class="card-body">

                <form #sciFieldForm="ngForm" (ngSubmit)="addSciField(sciFieldForm.value, sciFieldForm)">
                    <div class="form-group" *ngFor="let field of formFields">
                        <div class="col form-group">

                            <label for={{field.id}}>{{field.label}}</label>

                            <input class="form-control" type="text" name={{field.id}} ngModel
                                *ngIf="field.type.name=='string'">
                            <input class="form-control" type="checkbox" id='isReviewer' name={{field.id}} ngModel
                                *ngIf="field.type.name=='boolean'">
                            <input class="form-control" type="number" name={{field.id}} ngModel
                                *ngIf="field.type.name=='long'">
                            <select name={{field.id}} *ngIf="field.type.name=='enum'" ngModel>
                                <option *ngFor="let val of enumValues" value={{val}}>
                                    {{field.type.values[val]}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="button" value="Add" class="btn btn-primary btn-block" />
                    </div>
                    <small class="text-muted">By clicking the 'Register' button, you confirm that you accept our
                        <br> Terms of use and Privacy Policy.</small>
                </form>
            </article>
            <div class="border-top card-body text-center">Have an account?
                <a [routerLink]="['/login']">Log In</a>
            </div>
        </div>
    </div>
</div>